[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "plugin/handwriting"]
	path = plugin/handwriting
	url = https://github.com/satoshifuku/handwriting
[submodule "plugin/reveal-drawer"]
	path = plugin/reveal-drawer
	url = https://github.com/burnpiro/reveal-drawer
